{% extends 'catalog/_base.html' %}

{% load static %}

{% block content %}
    <div class="container w">
        <div class="row centered">

                {% for product in products%}

                                <div class="col-lg-3 text-center">
                                    <h4><a href="{% url 'catalog:detail' product_id=product.id %}">{{product.name}}</a></h4>
                                    {% with cat_val=product.product_type.category_id%}
                                        {% if cat_val == 3%}
                                        <img src="{% static 'catalog/oolong_tea.jpg' %}" class="img-responsive" style="width:100%" alt="Second slide"/>
                                                                                    <p>{{product.description}}</p>
                                        <h4>Цена: {{product.price}}</h4>
                                        {% else %}
                                        <img src="{% static 'catalog/coffe_grains.jpg' %}" class="img-responsive" style="width:100%" alt="Second slide"/>
                                                                                    <p>{{product.description}}</p>
                                        <h4>Цена: {{product.price}}</h4>
                                        {% endif %}
                                        {% endwith %}

                                </div>
                {%endfor%}
        </div>
    </div>


{% endblock %}
